<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/menu.css" rel="stylesheet" type="text/css" />
  <link href="/static/myul.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://cdn.socket.io/3.0.4/socket.io.js"></script>
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="jqueryui/style.css">
  <title>权限</title>
  <style>
     
    #row1{
          margin-right: -15px;
          margin-left: -30px;
      }
    
    .scroll{
      overflow-y: scroll;
      overflow-x: scroll;
    }
  </style>
</head>
<body>
    <!-- <h2>垂直导航条</h2>
    <p>在点击了选项后，我们可以添加 "active" 类来标准哪个选项被选中。;height: 100px</p> -->
    <div class="jumbotron text-center" style="margin-bottom:0 " id="jbt">
        <h1>在线检测</h1>   
    </div>
    
      <div class="container-fluid ">
        <div class="row" id="row1">
          <div class="col-sm-3 menu" >
            <ul id="ul1">
            
              <li><a href="./home">主页</a></li>
              <li><a href="./upload">上传</a></li>
              <li><a href="./search">检索</a></li>
              <li><a class="active" href="./authority">权限</a></li>
              <li><a href="./quit">退出</a></li>
            </ul>
          </div>
      
          <!-- <div class="col-sm-4 bg-light text-dark "style="margin:0 auto;border:2px dashed gray"> -->
          <div class="col-sm-4 ">
            <br>
            
            <h3>授权列表：</h3>
            <br>
            <!-- <div class="scroll bg-light text-dark "style="margin:0 auto;border:2px dashed gray">
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
            </div> -->
            
            <ul class="myul">
                    
            </ul>
            <br>
            <form id="room" method="POST" action='#'>
              <input type="text" name="user_data" id="user_data" placeholder="用户名">
              <input type="text" name="room_data" id="room_data" placeholder="验证消息">
              <input type="submit" value="发送">
            </form>
          </div>
          
          <div class="col-sm-4">
            <br>
            <h3>已获得授权列表：</h3>
            <br>
            
            <!-- <div class="scroll bg-light text-dark "style="margin:0 auto;border:2px dashed gray">
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
              <p>55555555555555555555555555555555555555555555555555555555555555555555555555555555</p>
            </div> -->
            <ul class="myul">
              {% for list in list1 %}
              <li >  {{list[0]}} </li>
              {% endfor %}
                    
            </ul>
          </div>

          <div class="col-sm-1">
            
          </div>
        </div>
      </div>
<script>
  $(document).ready(function() {

    if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
      document.getElementById( "ul1" ).style.position="relative";
      document.getElementById("jbt").setAttribute("class","jumbotron text-center");
    }
    namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    socket.on('receivemsg', function(message) {  
      alert(message);
    });
    $('form#room').submit(function(event) {
        
        socket.emit('sendmsg', {room: $('#user_data').val(),msg: $('#room_data').val()});
        // $('#log').append("666666666666").append('<br/>');
        return false;
    });
    
  });
  </script>
    
</body>
</html>